{% load reactor %}
<div {% tag-header %}>
  <li class="
      {{ item.completed|then:'completed' }}
      {{ editing|then:'editing' }}
      {{ is_visible|ifnot:'hidden' }}
    "
  >
    <div class="view">
      <input
        class="toggle"
        type="checkbox"
        name="completed"
        {{ item.completed|then:'checked' }}
        @change="completed"
      >
      <label @click="toggle_editing">{{ item.text }}</label>
      <button @click="destroy" class="destroy"></button>
    </div>
    <input
      class="edit"
      name="text"
      value="{{ item.text }}"
      @blur="save"
      @keypress.enter="save"
      {{ editing|then:':focus' }}
    >
  </li>
</div>
